<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'
import { useTem } from '@/stores/tem'
const temStore = useTem()
</script>

<template>
  <v-form v-model="temStore.valid">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model.number="temStore.celsius"
            :rules="[
              (v) => !!v || 'Celsius is not empty!!!',
              (v) => !isNaN(parseFloat(v)) || 'Celsius must be number!!!'
            ]"
            label="celsius"
            required
            hide-details
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-btn @click="temStore.callCovert">Calculate</v-btn>
        </v-col>

        <v-col cols="12" md="4">
          <div>{{ temStore.result }}</div>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
