<script setup lang="ts">
import { useLoad } from '@/stores/Load'
import { ref } from 'vue'

const loading = useLoad()
</script>
<template>
  <v-dialog v-model="loading.isLoad" persistent width="auto">
    <v-card>
      <v-card-text>
        <div>Please Wait</div>
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
